WPF CLIENT/WPF CLIENT/Connected Services/WeatherService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WeatherService.MODEL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WeatherService.MODEL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityList" nillable="true" type="tns:CityList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityList" nillable="true" type="tns:ArrayOfCityList" />
  <xs:complexType name="CityList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityList" nillable="true" type="tns:CityList" />
  <xs:complexType name="ArrayOfCityWeather">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityWeather" nillable="true" type="tns:CityWeather" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityWeather" nillable="true" type="tns:ArrayOfCityWeather" />
  <xs:complexType name="CityWeather">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityWeather" nillable="true" type="tns:CityWeather" />
</xs:schema>